<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevSM - Login</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
    <link rel="shortcut icon" href="/assets/favicon.ico">
</head>

<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="login">
                <span>Welcome to Dev Social Media!</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="Type your e-mail" required="required">
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Type your password" required="required">
                </div>
                <a href="/criar-usuario">Click here to create a new account</a>
                <button type="submit" class="btn-devbook">Log In</button>    
            </form>
        </div>
    </div>
</body>

</html>